
Regression/Blue book for Bulldozers/data/Train.zip
Regression/Blue book for Bulldozers/data/TrainAndValid.7z
Regression/Blue book for Bulldozers/data/TrainAndValid.zip
Regression/Blue book for Bulldozers/data/TrainAndValid.csv
Regression/Blue book for Bulldozers/data/Valid.7z
Regression/Blue book for Bulldozers/data/Valid.zip
Regression/Blue book for Bulldozers/data/Train.7z
Regression/Blue book for Bulldozers/.ipynb_checkpoints/Blue Book for Bulldozers-checkpoint.ipynb
Regression/Blue book for Bulldozers/data/Data Dictionary.xlsx
Regression/Blue book for Bulldozers/data/Machine_Appendix.csv
Regression/Blue book for Bulldozers/data/median_benchmark.csv
Regression/Blue book for Bulldozers/data/random_forest_benchmark_test.csv
Regression/Blue book for Bulldozers/data/Test.csv
Regression/Blue book for Bulldozers/data/Train.csv
Regression/Blue book for Bulldozers/data/Valid.csv
Regression/Blue book for Bulldozers/data/ValidSolution.csv
Regression/Blue book for Bulldozers/lesson1-rf.ipynb
Regression/Gun Violence/data/gun-violence-data_01-2013_03-2018.csv
Regression/Energy consumption/data/energydata_complete.csv
